$red : hsl(0,100%,50%);
$blue: (#122088);
@mixin fontTetx{
    font-family: cursive;
    font-size: 20px;
}
body{
    background-color: white;
}

.text{
    color: $red;
    .thuan{
        color: $blue;
    }
}

.solo{
    color: yellow;
}

body{
    margin: 0, auto;
}
